<h1>Home Page</h1>
<ul>
    <li ng-repeat='video in videos'>
        <a href="/#/video/{{video._id}}">
            {{video.title}}
        </a>
        
        <a href="/#/video/delete/{{video._id}}">
            <i class="glyphicon glyphicon-remove"></i>
        </a>
    </li>
</ul>
<p>
    <a href="/#/add-video">Add a Video</a>
</p>